<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input class="<%= validationErrors.find(i => i.path === 'title') ? 'invalid' : '' %>" name="title" id="title" value="<% if (editing || hasError) { %><%=product.title%><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input class="<%= validationErrors.find(i => i.path === 'price') ? 'invalid' : '' %>" type="number" name="price" id="price" step="0.01" value="<% if (editing || hasError) { %><%=product.price%><% } %>">
            </div>
            <!-- <div class="form-control">
                <label for="imageURL">Image URL</label>
                <input class="<%= validationErrors.find(i => i.path === 'imageURL') ? 'invalid' : '' %>" type="text" name="imageURL" id="imageURL" value="<% if (editing || hasError) { %><%=product.imageURL%><% } %>">
            </div> -->
            <div class="form-control">
                <label for="image">Image URL</label>
                <input type="file" name="image" id="image">
            </div>
            <div class="form-control">
                <label for="discription">Discription</label>
                <textarea class="<%= validationErrors.find(i => i.path === 'discription') ? 'invalid' : '' %>" name="discription" id="discription" rows="5" ><% if (editing || hasError) { %><%= product.discription %><% } %></textarea>
            </div>
            <% if(editing) { %>
                <input type="hidden" name="productId" value="<%= product._id %>">
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit"><% if (editing) { %>Update Product<% } else { %>Add product<% } %></button>
        </form>
    </main>

<%- include('../includes/end.ejs') %>